In [1]:
from data_access import get_experement_paths
import pandas as pd

paths = get_experement_paths(group_size=2)

print(len(paths))
print(paths[0])

experement = pd.read_csv(paths[0])
experement.head(8)

10
data/2/exp02H20141127_14h13.csv

         X1        Y1        H1        X2        Y2        H2
0  259.3419 -155.8536 -1.243621  253.1339 -79.30511  1.044186
1  259.3494 -155.7317 -1.244784  253.2308 -79.14953  1.035889
2  259.3422 -155.7989 -1.244029  253.7350 -78.04835  1.033744
3  259.3625 -155.8054 -1.243945  253.9871 -77.61454  1.031118
4  259.3415 -155.7843 -1.242209  254.3111 -76.87933  1.031117
5  259.3692 -155.7774 -1.241900  254.5829 -76.37133  1.028642
6  259.3692 -155.7774 -1.241900  254.9247 -75.51578  1.021085
7  259.4111 -155.9168 -1.242596  254.8982 -75.51409  1.019680

In [3]:
from data_access import metadata_from_path

row = metadata_from_path(paths[0])
print(row)

FishNb                          5
ExpID        exp05H20141030_11h15
ExpLength               56.868333
Fps                            50
BL1                      30.22455
BL2                      30.55813
BL3                      32.26797
BL4                       26.8432
BL5                      31.43337
BL6                           NaN
BL7                           NaN
BL8                           NaN
BL9                           NaN
BL10                          NaN
Name: 19, dtype: object